@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Caveat:wght@400..700&family=Fascinate&family=Michroma&family=Playwrite+HU:wght@100..400&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@1,600&family=Sixtyfour&family=UnifrakturMaguntia&family=VT323&family=WDXL+Lubrifont+SC&display=swap');

h2{
    font-family: "Press Start 2P";
}

.favLego{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}

.legoList li {
    list-style: none;
    padding: 10px 30px;
    background-image: url("./assets/DarthVader.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.favLegoTable,th,td {
    border: 2px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 5px;
}
        



